{% extends "templates/layout.njk" %}
{% block content %}
  <div class="grid-container">
    <h1 class="topic-title">Rohan Khosla</h1>
    <p>
      Email: <a href="mailto:rpk17@ic.ac.uk">rohan.khosla17@ic.ac.uk</a>
    </p>

    <hr />

    <h2>Education</h2>
    <div>
      <ul>
        <li>
          Currently in First Year studying Computing (MEng) at Imperial
          College London
        </li>
        <li>
          Achieved 4 A*s in my A-levels (Maths, Further Maths, Physics and
          Chemistry)
        </li>
        <li>
          Got 10 A*s, an A and two Bs in my GCSEs
        </li>
      </ul>
    </div>

    <h2>Work Experience</h2>
    <div>
      <ul>
        <li>
          Applied, interviewed for and was selected as one of six out of 50
          applicants for work experience at PA Consulting's Cambridge
          Research Centre.
        </li>
      </ul>
    </div>

    <h2>Skills</h2>
    <div>
      <ul>
        <li>
          Leadership: was team leader for my first year Computing research
          project, where I had to organise the team, delegate responsibility
          to other group members, set deadlines, and motivate my team.
        </li>
        <li>
          Effective Communication, both verbal and written: I have to
          regularly explain and support arguments to course mates in tutorial
          sessions and write clear and concise technical reports for
          coursework.
        </li>
        <li>
          Public speaking and presentation skills: Presented my project
          made at PA consulting to employees and partners at the Cambridge
          research centre.
        </li>
        <li>
          Time management: Trained for rowing at least five times a week
          and competed regularly while studying for my A-levels.
        </li>
        <li>
          Problem solving: solving a program from a user specification
          by breaking it up into several smaller problems, solving each one
          individually before linking them together to give the solution.
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
