{% extends "templates/layout.njk" %}
{% block content %}

<div class="grid-container">
  <div>
    <h1>Paris Mongkolkul</h1>
  </div>
      <p id="parisheader">• Education •</p>
      <p><strong>Bachelor’s degree • Imperial College London • 2017-present</strong></p>
      <ul>
        <li>Currently in first year studying Computing (BEng)</li>
      </ul>
      <p><strong>Secondary Education • Harrow International School Bangkok •  2013-2017</strong></p>
      <ul>
        <li>4 A levels of Computer Science, Physics, Mathematics, Further Mathematics (A*A*A*A)</li>
        <li>10 IGCSEs of 7A*, 1A, 2Bs</li>
        <li>External IELTSs examination – 8</li>
      </ul>
      <hr/>
      <p id="parisheader">• Skills •</p>
      <ul>
        <li>Leadership – was Byron House Captain with the responsibility to
          delegate work and deadlines to the house committees, oversee house
          events, and organize meetings. </li>
        <li>Communication and Presentation Skill – selected to be the MC at
          school events and been reprising the role since year 11.</li>
        <li>Teamwork – trained for Junior Varsity and Varsity school teams,
          both on weekdays and weekends for every season/term</li>
        <li>Time Management – assisted school coaches training sports for
          younger peers and organized community service trips and charity
          events, while maintaining my academic life.</li>
      </ul>
      <hr/>
      <p id="parisheader">• Work History •</p>
      <p><strong>Internship • Garena • Bangkok • July 2017 to August 2017</strong></p>
      <ul>
        <li>Learning how each department work together to form an Internet Platform company</li>
        <li>Testing under-developed and released mobile game</li>
        <li>Analyzing in-game events management and observing techniques to maximize profit income</li>
      </ul>
      <hr/>
      <p id="parisheader">• Accomplishments •</p>
      <ul>
        <li>Harrow's House Captain</li>
        <li>Project leader of student-led community service group, Extrapaws Foundation</li>
        <li>Member of the badminton, volleyball, rugby, and basketball school teams</li>
      </ul>
  <hr/>
  <div id="parislinks">
    <a href="https://www.facebook.com/kawmai.mongkolkul" target = blank>FACEBOOK</a>
    <a href="https://www.instagram.com/kawmaiparis/" target = blank>INSTAGRAM</a>
  </div>
</div>
{% endblock %}
