{% extends "templates/layout.njk" %}
{% block content %}
<div class="grid-container">
  <h1 class="topic-title">Fraser May</h1>
  <p>
    Welcome to my individual page, on here you can learn a little bit about
    me and what I like to do in my spare time.
  </p>
  
  <hr />

  <h2>Shooting</h2>
  <div class="grid-x grid-margin-x">
    <div class="small-12 medium-8 cell">
      <p>
        I'm a member of Imperial College Rifle and Pistol Club. Every week I go
        to our shooting range where we practice .22 calibre target rifle,
        gallery rifle, and air pistol. Every now and then we go to Bisley to
        shoot fullbore rifles, and around once or twice a term we shoot Clays.
      </p>
      <p>
        Before coming to university I had never fired a rifle and had only tried
        clays once and thoroughly enjoyed it so I was quite keen to join up once
        I saw it at Freshers' Fair. Since then, I've been on a few trips, have
        competed at a Gallery Rifle match against Gally Hill Shooting Club, and
        am currently running for Membership Secretary for next year's committee.
      </p>
    </div>
    <div class="small-12 medium-4 cell">
      <div class="card">
        <div class="card-image">
          <img src="images/individual-fraser-gallyhill.jpg">
        </div>
        <div class="card-section">
          <p>After the Gally Hill match (back row, second from right)</p>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <h2>Flying</h2>
  <div class="grid-x grid-margin-x">
    <div class="small-12 cell">
      <p>
        One of my goals in life isto get a pilot's license, and maybe even
        become a commercial pilot. To that end I've had a couple of flying
        lessons, the latest one of which was particularly special. My dad had
        been given a flight in a Harvard (a World War II era US training
        aircraft) and they let us both go up at the same time and get some
        photos in the air together which was an incredible experience. I don't
        think I'll ever do anything similar again.
      </p>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
    <div class="small-12 large-6 cell">
      <div class="card">
        <div class="card-image">
          <img src="images/individual-fraser-flying1.jpg">
        </div>
        <div class="card-section">
          <p>Me in a Cessna 172S, taken by my Dad in a Harvard</p>
        </div>
      </div>
    </div>
    <div class="small-12 large-6 cell">
      <div class="card">
        <div class="card-image">
          <img src="images/individual-fraser-flying2.jpg">
        </div>
        <div class="card-section">
          <p>My dad in the Harvard</p>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="grid-x grid-margin-x">
    <div class="small-12 medium-9 cell">
      <h2>Radio</h2>
      <p>
        I'm on the committee at IC Radio as one of the IT Managers,
        responsible for maintaining their IT systems including Studio PCs, music
        storage, and web servers.
      </p>
      <p>
        One highlight of my time at Radio was getting to go to the Radio 1
        studios in New Broadcasting House. We were shown round where all the
        celebrities go and got to see some of the sets they use for videos.
        However the highlight of the trip would be getting to see the Radio
        1Xtra Studio where Man's Not Hot was originally recorded.
      </p>
    </div>
    <div class="small-12 medium-3 cell">
      <div class="card">
        <div class="card-image" style="text-align: center">
          <img src="images/individual-fraser-radio.jpg">
        </div>
        <div class="card-section">
          <p>Me sat in the Radio 1 Studio</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
